@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

.titulo {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}