.card{
    margin-top: 5rem;
    width: 250px;
    padding: 1rem;
    background-color: rgb(140, 0, 255);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: relative;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    h1{
        font-size: 4rem;
        padding: 1rem;
        border: 1px solid white;
        width: 100%;
        text-align: center;
    }

    h2{
        font-family: monospace;
    }
    svg{
        position: absolute;
        top: 0;
        right: 0;
        padding:0.5rem;
        cursor: pointer;
    }
}